extends layout

block content
  h1= title
  p Welcome to #{title}
  div.container
    form(method='POST' action='/tone')
      div.form-group
        label(for='tone') Tone:
        input#tone.form-control(type='textarea', placeholder='JSON' name='toneInput')
      button.btn.btn-primary(type='submit') Analyze tone

    form(method='POST' action='/nlu')
      div.form-group
        label(for='nlu') NLU:
        input#nlu.form-control(type='textarea', placeholder='JSON' name='nluInput')
      button.btn.btn-primary(type='submit') NLU

    form(method='POST' action='/tone/twitter')
      div.form-group
        label(for='tweet') Twitter Search:
        input#tweet.form-control(type='text', placeholder='Search' name='tweetInput')
      button.btn.btn-primary(type='submit') Analyze twitter sentiment

